$blue: #87CEEB;
$darkBlue: #5E87EB;
$green: #77dd77;
$black: #444444;
$white: #F0F0F0;

$smallLow: 320px;
$midLow: 768px;
$largeLow: 1224px;

$globalFont: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;